/* COMMON */
:root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* UTILITY */

.container{
    width: 100%;
    height: 80vh;
}

.wrapper{
    position: relative;
    margin: 0px 15%;
    height: 100vh;
    /* background-color: rgba(178, 34, 34, 0.16); */
}

.row::after{
    content: "";
    display: table;
    clear: both;
}

.text-area{
    width: 350px;
    position: absolute;
    right: 130px;
    top: 80px;
}

.image-area{
    display: inline-block;
    width: 550px;
    height: 450px;
    position: absolute;
    left: 66px;
    top: 80px;
}

.text-up{
    font-size: 38px;
    width: 290px;
}

.text-down{
    font-size: 18px;
    width: 326px;
    font-weight: 600;
}



/******** HEADER ********/

header{
    background-image: url("../img/jumbo.png");
    background-size: contain;
    background-repeat: no-repeat;
}

/* navbar */

.navbar{
    position: relative;
    font-size: 16px;
}

.logo{
    position: absolute;
    top: 13px;
}

.links{
    margin: 10px auto;
    position: absolute;
    left: 33%;
    top: 12px;
}

.link{
    text-decoration: none;
    margin: 0 15px;
  
    color: white;
}

.log{
    position: absolute;
    right: 10px;
    top: 13px;
}

.log>button{
    border: none;
    border-radius: 20px;
    padding: 8px;
}

/* text */

.title-text{
    color: white;
}

.title{
    position: absolute;
    top: 72px;
    left: 27%;
    font-size: 58px;
}

.sub-title{
    position: absolute;
    font-size: 22px;
    bottom: 562px;
    left: 250px;
    text-align: center;
    width: 830px;
}

.btn{
    position: absolute;
    bottom: 505px;
    left: 400px;
    font-size: px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn-white, .btn-black{
  padding: 15px 30px;
  
  border: none;
  border-radius: 30px;
  font-size: 18px;
}

.btn-black{
    color: white;
    background-color: rgb(36, 34, 34);
    margin-left: 2rem;
}

/********* MAIN **********/

site-main{
    background-image: url("../img/wave.svg");
    background-repeat: no-repeat;
    background-size: 100% 150px;
}


.image-area-reverse{
    width: 550px;
    height: 450px;
    position: absolute;
      right: 252px;
    top: 90px;
}


.text-area-reverse{
    width: 350px;
    height: 450px;
    position: absolute;
    left: 150px;
    top: 70px;
}


.text-area-top{
    margin: 0 auto;
    width: 1058px;
    height: 100px;
}

.text-top{
    text-align: center;
    font-size: 38px;
}

.text-sub-top{
    text-align: center;
    font-size: 18px;
    width: 840px;
    margin-left: 105px;
    font-weight: 600;
}

.image-area-mid{
    margin: 30px auto;
    width: 900px;
    height: 60vh;
}

.text-bot{
    margin: 20px auto;
    width: 400px;
    height: 50px;
}

.stars>button{
    border: none;
    border-radius: 20px;
    padding: 10px 12px;
    color: white;
    background-color: #7594e3;
    position: absolute;
    bottom: 130px;
    left: 548px;

}


/* FOOTER */

.row{
    background-color: black;

}

footer{
    margin-top: 100px;
}

.foot{
    margin-top: 70px;
}

.grid-left{
    margin-left: 70px;
    float: left;
    width: 200px;
    height: 400px;
    background-color: darkgoldenrod;
}

.grid-right{
    float: left;
    width: 75%;
    height: 400px;
    background-color: coral;
}

.bottom{
    position: absolute;
    bottom: 100px;
    left: 180px;
    width: 980px;
    height: 100px;
    background-color: blanchedalmond;
}